<sidebar class="sidebar">
  <div class="sidebar-main">
    <div class="link">
      Today
    </div>

    <div class="link">
      Bookmarks
    </div>

    <ul class="feeds-index">
      <h2>COLLECTIONS</h2>
    </ul>
  </div>

  <footer class="sidebar-footer">
    <a class="add-feed" href="#">+ ADD FEED</a>
  </footer>
</sidebar>
