<sidebar class="sidebar">
  <span class="sidebar-main">
    <div class="today-link">
      Today
    </div>

    <div class="saved-link">
      Bookmarks
    </div>

    <ul class="feeds-index">
      <h2>COLLECTIONS</h2>
    </ul>
  </span>

  <footer class="sidebar-footer">
    <div class="add-feed">+ Add Content</div>
  </footer>
</sidebar>
