<sidebar class="sidebar">
  <div class="sidebar-main">
    <a href="/">Today</a>

    <a href="#">Bookmarks</a>

    <ul class="feeds-index">
      <h2>COLLECTIONS</h2>
    </ul>
  </div>

  <footer class="sidebar-footer">
    <a class="add-feed" href="#">+ ADD FEED</a>
  </footer>
</sidebar>
