<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>RSSFeedMe</title>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
  </head>

  <body>
    <% include ./partials/javascript %>

    <% include ./partials/navbar %>
    <% include ./partials/sidebar %>

    <%- body -%>
  </body>
</html>
