/*Welcome*/

.welcome {
  height: calc(100vh - 31px);
  margin-top: 31px;
  padding: 5% 10%;
  background-color: black;
  background-image: url(../images/welcome_page_bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.welcome > h1 {
  color: white;
  text-shadow: 1px 1px 5px #212421, 2px 2px 5px #212021;
}

.welcome > p {
  margin: 20px;
  color: white;
  text-shadow: 1px 1px 5px #212421, 2px 2px 5px #212021;
}

.welcome > button {
  color: white;
  text-shadow: 1px 1px 5px #212421, 2px 2px 5px #212021;
}

.custom-modal-dialog {
  width: 300px;
  margin: 100px auto;
}

.modal-body button {
  display: block;
  width: 100%;
  margin: 0 auto;
}
