/*Clearfix*/

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

/*Welcome*/

.welcome {
  height: 100vh;
  padding: 5% 10%;
  background-color: black;
  background-image: url(../images/welcome_page_bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.welcome > h1 {
  color: white;
  text-shadow: 1px 1px 5px #212421, 2px 2px 5px #212021;
}

.welcome > p {
  margin: 20px;
  color: white;
  text-shadow: 1px 1px 5px #212421, 2px 2px 5px #212021;
}

.welcome > button {
  color: white;
  text-shadow: 1px 1px 5px #212421, 2px 2px 5px #212021;
}

.custom-modal-dialog {
  width: 360px;
  margin: 100px auto;
}

.welcome form button {
  display: block;
  width: 100%;
  margin: 10px auto;
}


/*Homepage*/

.sidebar-and-content {
  display: flex;
  height: calc(100vh - 50px);
  margin-top: 50px;
}

.content {
  width: calc(100vw - 270px);
  height: calc(100vh - 50px);
  padding: 36px 24px;
}


/*Navbar*/

.dropdown-button {
  width: 100%;
  border: none;
  padding: 3px 20px;
  background-color: white;
  text-align: left;
}

.profile > img {
  margin: 0 auto;
}

.profile > h1 {
  margin: 10px 0;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.profile > .info {
  display: block;
  width: 300px;
  margin: 0 auto;
}


/*Sidebar*/

.sidebar {
  width: 270px;
  height: 100%;
  background-color: #2A2B2F;
  color: white;
  position: relative;
}

.sidebar-main {
  padding: 20px;
}

.sidebar-main > a {
  display: block;
  width: 100%;
  margin: 5px 0;
  padding: 5px;
  text-decoration: none;
  color: white;
}

.sidebar-main > button {
  display: block;
  width: 100%;
  margin: 30px auto;
  border: 1px solid rgba(255,255,255,0.3);
  border-radius: 5px;
  font-size: 24px;
  font-weight: lighter;
  color: rgba(255,255,255,0.3);
  background-color: #2A2B2F;
}

.feeds-index {
  padding: 0;
}

.feeds-index > h2 {
  font-size: 12px;
  color: rgba(255,255,255,0.3);
}

.feeds-index > li {
  list-style-type: none;
  padding: 0 10px;
}

.feeds-index h4 {
  font-size: 14px;
  font-weight: normal;
}

.feeds-index a {
  display: block;
  margin: 2px;
  padding: 0 20px;
}

.feeds-index img {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.feeds-index p {
  display: inline-block;
  margin: 0;
  padding: 0 5px;
  font-size: 12px;
  color: white;
}

.feeds-index a:hover {
  text-decoration: none;
  color: white;
}

.sidebar-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  border-top: 1px solid rgba(255,255,255,0.3);
}

.add-feed {
  display: block;
  width: 100%;
  height: 51px;
  background-color: #31b0d5;
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 12px;
  line-height: 51px;
  text-shadow: 1px 1px 5px #212421, 2px 2px 5px #212021;
}

.add-feed:hover {
  text-decoration: none;
  color: white;
}


/*Feeds*/

.feeds {
  display: block;
  height: calc(100% - 69px);
  overflow-y: scroll;
  padding: 0 40px;
}

.feeds > li {
  list-style-type: none;
  display: flex;
  margin: 20px auto;
}

.feeds > li > img {
  width: 100px;
  height: 100px;
}

.feeds > li > .info {
  padding: 0 10px;
}

.feeds .info > h2 {
  margin: 0 auto;
  font-size: 24px;
}

.feeds .info > p {
  margin: 0 auto;
}

.feeds .subscribe-btn {
  height: 50%;
}

/*Feed*/

.articles {
  display: block;
  height: calc(100vh - 195px);
  margin: 50px 40px 0 40px;
  padding: 0;
  overflow-y: scroll;
}

.articles > li {
  list-style-type: none;
  margin: 20px;
}

.articles > li:hover {
  opacity: .5;
}

.articles a {
  text-decoration: none;
  color: black;
}

.articles img {
  display: block;
  width: 100px;
  float: left;
}

.article-info {
  display: block;
  margin-left: 100px;
  padding: 0 20px;
}

.article-title {
  font-size: 20px;
  font-weight: bold;
}

.article-creator-and-pub-date {
  font-size: 12px;
}

.article-creator, .article-pub-date {
  padding-right: 20px;
}
